// Input parameters
// What type of run? Either "basic" or "amplicon", or "assembly"
params.type="basic"

// Specify the PATH where the "fast5" folder can be found:
params.reads="/cluster/projects/nn9305k/active/thhaverk/nextflow/test_data/np_amplicon_reads/fast5"


// basic
// Settings for the basic pipeline


//Specify the barcode kit used for nanopore multiplexing samples, if you are unsure use "Auto".
// possible kits to use: Auto,PBC096,RAB214,DUAL,PBC001,NBD104/NBD114,NBD103/NBD104,PBK004/LWB001,RAB204/RAB214,NBD114,RAB204,RBK004,VMK001,RBK001,RPB004/RLB001
// use like this: params.barcode="PBC096"
params.barcode="PBC096"


// amplicon
// Settings for the amplicon pipeline steps




// assembly
// Settings fot the assembly pipeline steps



