// Input parameters
// What type of run? Either "basic" or "amplicon", or "assembly"
params.type="basic"

// Specify the directory where reads can be found:
params.reads="/cluster/projects/nn9305k/active/thhaverk/nextflow/testdata/np_amplicon_reads/fast5"


// basic
// Settings for the basic pipeline



// Program-related settings




// assembly
params.parsnp_ref="!"



