process {
	executor = 'slurm'
	clusterOptions = '--job-name=nepal --account=nn9305k --mem-per-cpu=4700M'
	queueSize = 24
	maxRetries = 1
	errorStrategy='retry'

	time = { 2.h * task.attempt }
	
	withLabel: shorttime {
		time = {1.h * task.attempt}
	}
	
	withLabel: longtime {
		time = { 24.h * task.attempt }
	}

	cpus = 4
	withLabel: medium {cpus = 8}
	withLabel: heavy {cpus = 20}

    withLabel: gpu {
		cpus = 8
		clusterOptions = '--job-name=nepal_G --account=nn9305k --partition=accel --gres=gpu:2 --mem-per-cpu=8G'
	}

	time = { 1.h * task.attempt }
	
	withLabel: longtime {
		time = { 48.h * task.attempt }
	}


	withLabel: bigmem {
		cpus = 8
		clusterOptions = '--job-name=nepal_B --account=nn9305k --partition=bigmem --mem-per-cpu=32000M'
	}

	time = { 8.h * task.attempt }
	
	withLabel: longtime {
		time = { 24.h * task.attempt }
	}
}
